= tag.div(flash[:alert], style: "color:red") if flash[:alert]
= tag.div(flash[:notice], style: "color:green") if flash[:notice]
.box.has-text-centered
  = form_with url: session_path do |form|
    .field
      .control
        = form.password_field :code, required: true, autocomplete: "current-password", placeholder: "Enter the code", maxlength: 72, class: "input is-large"
    %br/
    = form.submit "Sign in", class: "button is-block is-info is-large is-fullwidth"
